<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css?v=2.4">
	<title>Execute Command</title>
</head>
<body>
	<h1>模型量化转换工具</h1>
    <button id="selection-button">1.模型选择</button>
    <button id="quantization-button" disabled>2.模型量化</button>
    <button id="inference-button" disabled>3.模型推理</button>
    <button id = "annotation" onclick="redirectToAnotherPage()">数据标注平台</button>
    <div id="model-selection">
        <select id="model_name" name="model_name" onchange="updateDefaultConfig()">
            <option value="resnet18_track_detection">resnet18_track_detection</option>
            <option value="yolov5s-2.0">yolov5s-2.0</option>
            <!-- <option value="01_mobilenet">mobilenetv1</option>
            <option value="04_mobilenet_onnx">mobilenetv2</option>
            <option value="googlenet">googlenet</option>
            <option value="efficientnet_lite0_onnx">efficientnet-lite0</option>
            <option value="efficientnet_lite1_onnx">efficientnet-lite1</option>
            <option value="efficientnet_lite2_onnx">efficientnet-lite2</option>
            <option value="efficientnet_lite3_onnx">efficientnet-lite3</option>
            <option value="efficientnet_lite4_onnx">efficientnet-lite4</option>
            <option value="yolov2_darknet19">yolov2_darknet19</option>
            <option value="yolov3_darknet53">yolov3_darknet53</option>
            <option value="ssd_mobilenetv1">mobilenetv1_ssd</option>
            <option value="efficientdetd0">efficientdetd0</option>
            <option value="centernet_resnet50">centernet_resnet50</option>
            <option value="fcos_efficientnetb0">fcos_efficientnetb0</option>
            <option value="unet_mobilenet">unet_mobilenet</option>
            <option value="deeplabv3plus_efficientnetb0">deeplabv3plus_efficientnetb0</option>
            <option value="fastscnn_efficientnetb0">fastscnn_efficientnetb0</option> -->
        </select>
        <label for="profile_pic">模型类型</label>
        <br>
        <select id="has_model" name="has_model" onchange="trainStateChange();updateParameter();converConfigStateChange()">
            <option value="true">已有onnx/caffe模型</option>
            <option value="false">没有onnx/caffe模型</option>
        </select>
        <label for="profile_pic">是否已有模型</label>
        <form>
            <select id="dimensionType" onchange="handleDimensionTypeChange();updateParameter()" >
                <option value="224x224">224x224</option>
                <option value="672x672">672x672</option>
                <option value="custom">自定义</option>
            </select>
            <label for="dimensionType">模型尺寸</label>
            <div id="customDimensions" style="display:none;">
                <input type="number" id="customWidth" placeholder="宽度" onchange="updateParameter()" value="0">
                <label for="customWidth">模型宽度</label>
                <br>
                <input type="number" id="customHeight" placeholder="高度" onchange="updateParameter()" value="0">
                <label for="customHeight">模型高度</label>
            </div>
        </form>
        <div id="noModelConfig" class="model-config">
            <form id="uploadDataset" enctype='multipart/form-data' method='POST'>
                <input type="file" id="dataset_file" name="dataset_file" webkitdirectory onchange ="updateDatasetButtonState()"/>
                <label for="profile_pic">选择数据集文件</label>
                <br>
                <input type="button" id = "upload_dataset_button" value="上传数据集" onclick="uploadDataset();updateTrainButtonState()" onchange="updateDatasetButtonState()" disabled>
            </form>
            <input type="number" id="epochs" placeholder="epochs" value="100" min="2" onchange="updateParameter()">
            <label for="epochs">epochs</label>
            <br>
            <input type="number" id="batch_size" placeholder="batch_size" value="4" onchange="updateParameter()">
            <label for="batch-size">batch_size（若训练失败，请减小batch_size的值）</label>
            <br>
            <button id = "train"  disabled>开始训练模型</button>
            <button id = "pt2onnx" disabled >转换为onnx模型</button>
            <br>
        </div>

        <div id="withModelConfig">
            <select id="model_type" name="model_type" onchange ="updateModelFileSelectState();updateParameter()">
                <option value="onnx">onnx</option>
                <option value="caffe">caffe</option>
            </select>
            <label for="dimensionType">模型格式</label>
            <br>
            <form id="uploadForm" enctype='multipart/form-data' method='POST'>
                <div id="withOnnxModel">
                    <input type="file" id="onnx_file" name="onnx_file" accept=".onnx" onchange ="updateUploadButtonState()"/>
                    <label for="profile_pic">选择onnx文件</label>
                </div>
                <div id="withCaffeModel" style="display:none;">
                    <input type="file" id="prototxt_file" name="prototxt_file" accept=".prototxt" onchange ="updateUploadButtonState()" />
                    <label for="profile_pic">选择prototxt文件</label>
                    <br>
                    <input type="file" id="caffemodel_file" name="caffemodel_file" accept=".caffemodel" onchange ="updateUploadButtonState()" />
                    <label for="profile_pic">选择caffemodel文件</label>
                    <br>
                </div>
                <!-- <label for="profile_pic">选择配置文件</label>
                <input type="file" id="config_file" name="config_file" accept=".yaml" onchange ="updateUploadButtonState()"/>
                <br> -->
                <input type="file" id="image_file" name="image_file" webkitdirectory onchange ="updateUploadButtonState()"/>
                <label for="profile_pic">选择校准图片文件（建议一百张）</label>
                <br>
                <input type="button" id = "upload_button" value="上传文件" onclick="uploadFile()" onchange="updateUploadButtonState()" disabled>
            </form>
        </div>
    </div>
	<br>
	<!-- 配置参数 -->
    <div id="model-quantization" style="display: none;">
        <label for="profile_pic" id="supplementary_explanation">提供默认参数可直接使用</label>
        <br>
        <select id="input_type_rt" name="input_type_rt" onchange ="updateParameter()">
            <option value="nv12">nv12</option>
            <option value="rgb">rgb</option>
            <option value="bgr">bgr</option>
            <option value="yuv444">yuv444</option>
            <option value="gray">gray</option>
            <option value="featuremap">featuremap</option>
        </select>
        <label for="profile_pic">网络实际执行时的数据格式</label>
        <br>
        <select id="input_layout_rt" name="input_layout_rt" onchange ="updateParameter()">
            <option value="NHWC">NHWC</option>
            <option value="NCHW">NCHW</option>
            <option value="None">None</option>
        </select>
        <label for="profile_pic">网络实际执行时输入的数据排布</label>	
        <br>
        <select id="input_type_train" name="input_type_train" onchange ="updateParameter()">
            <option value="rgb">rgb</option>
            <option value="nv12">nv12</option>
            <option value="bgr">bgr</option>
            <option value="yuv444">yuv444</option>
            <option value="gray">gray</option>
            <option value="featuremap">featuremap</option>
        </select>
        <label for="profile_pic">网络训练时输入的数据格式</label>
        <br>
        <select id="input_layout_train" name="input_layout_train" onchange ="updateParameter()">
            <option value="NCHW">NCHW</option>
            <option value="NHWC">NHWC</option>
            <option value="None">None</option>
        </select>
        <label for="profile_pic">网络训练时输入的数据排布</label>	
        <br>
        <select id="norm_type" name="norm_type" onchange ="updateParameter()">
            <option value="data_mean_and_scale">data_mean_and_scale</option>
            <option value="no_preprocess">no_preprocess</option>
            <option value="data_mean">data_mean</option>
            <option value="data_scale">data_scale</option>
        </select>
        <label for="profile_pic">网络输入的预处理方法</label>	
        <br>
        <input type="text" id="mean_value" placeholder="减去的均值" value="123.675 116.28 103.53" onchange="updateParameter()">
        <label for="profile_pic">预处理减去的均值（多通道不同处理请用空格隔开）</label>
        <br>
        <input type="text" id="scale_value" placeholder="缩放的比例" value="0.0171248 0.017507 0.0174292" onchange="updateParameter()">
        <label for="profile_pic">预处理缩放的比例（多通道不同处理请用空格隔开）</label>
        <br>
        <button id="convert_button">一键转换</button>
    </div>
    <div id="model-inference" style="display: none;">
        <form id="uploadDetectImage" enctype='multipart/form-data' method='POST'>
            <input type="file" id="detect_image_file" name="detect_image_file" accept="image/*" onchange="uploadDetectImage();updateDetectButtonState()"/>
            <label for="profile_pic">上传一张图片用于模型推理</label>
        </form>
        <select id="detect_model" name="detect_model" onchange="updateParameter()">
            <option value="quantized_model">使用量化后的int模型</option>
            <option value="original_float_model">使用原生的float模型</option>
        </select>
        <label for="profile_pic">推理模型选择</label>
        <br>
        <!-- <button id = "detect" onclick="performTask('/detect')">模型检测</button> -->
        <button id="detect" disabled>模型检测</button>
        <img id="imageToShow">
        <script>
            document.getElementById("detect").addEventListener("click", function() {
                var imageElement = document.getElementById("imageToShow");
                imageElement.src = '';
                var timestamp = new Date().getTime();
                var imageUrl = "{{ url_for('detect') }}?timestamp=" + timestamp;
                imageElement.src = imageUrl;
            });
        </script>
        <button id="download_bin" onclick="downloadBinModel()">下载bin模型</button>
        <button id="download_all" onclick="downloadAllModel()">下载所有模型</button>
        <button id = "delete-button" onclick="confirmAction()">清除所有缓存文件</button>
	</div>



    <div id="outputContainer">
        <pre id="output"></pre>
    </div>

    <script>
        function confirmAction() {
            var confirmed = confirm("此操作将删除所有上传以及生成的文件，您确定要执行吗？");
            if (confirmed) {
                performTask('/delete_cache');
                alert("删除操作已执行！");
            } else {
                alert("删除操作已取消！");
            }
        }
    </script>

    <script>
        const selectionButton = document.getElementById('selection-button');
        const quantizationButton = document.getElementById('quantization-button');
        const inferenceButton = document.getElementById('inference-button');

        const modelSelection = document.getElementById('model-selection');
        const modelQuantization = document.getElementById('model-quantization');
        const modelInference = document.getElementById('model-inference');

        selectionButton.addEventListener('click', function() {
            modelSelection.style.display = 'block';
            modelQuantization.style.display = 'none';
            modelInference.style.display = 'none';
        });

        quantizationButton.addEventListener('click', function() {
            modelSelection.style.display = 'none';
            modelQuantization.style.display = 'block';
            modelInference.style.display = 'none';
        });

        inferenceButton.addEventListener('click', function() {
            modelSelection.style.display = 'none';
            modelQuantization.style.display = 'none';
            modelInference.style.display = 'block';
        });
    </script>

    <script>
        function updateQuantizationButtonState(){
            var quantizationButton = document.getElementById('quantization-button');
			quantizationButton.disabled = false;
        }
        function updateInferenceButtonState(){
            var inferenceButton = document.getElementById('inference-button');
			inferenceButton.disabled = false;
        }
    </script>   

	<script>
		function uploadFile() {
		  var form = document.getElementById('uploadForm');
		  var formData = new FormData(form);
		  var xhr = new XMLHttpRequest();
		  xhr.open('POST', '/upload', true);
          xhr.send(formData);
		  xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
			  if (xhr.status === 200) {
				var response = JSON.parse(xhr.responseText);
				document.getElementById('result').innerHTML = 'File uploaded successfully: ' + response.filename;
			  } else {
				var response = JSON.parse(xhr.responseText);
				document.getElementById('result').innerHTML = 'Upload failed: ' + response.message;
			  }
            }
		  };
          updateQuantizationButtonState();
		}
	</script>

	<script>
		function uploadDataset() {
		var form = document.getElementById('uploadDataset');
		var formData = new FormData(form);

		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/upload', true);

		xhr.onreadystatechange = function () {
			if (xhr.readyState === 4) {
			if (xhr.status === 200) {
				var response = JSON.parse(xhr.responseText);
				document.getElementById('result').innerHTML = 'File uploaded successfully: ' + response.filename;
			} else {
				var response = JSON.parse(xhr.responseText);
				document.getElementById('result').innerHTML = 'Upload failed: ' + response.message;
			}
			}
		};

		xhr.send(formData);
		}
	</script>

	<script>
		function uploadDetectImage() {
            var form = document.getElementById('uploadDetectImage');
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload_detect_image', true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('result').innerHTML = 'File uploaded successfully: ' + response.filename;
                } else {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('result').innerHTML = 'Upload failed: ' + response.message;
                }
                }
            };

            xhr.send(formData);
		}
	</script>

	<script>
		function updateDefaultConfig(){
			var model_name = document.getElementById('model_name').value

			if(model_name == 'resnet18_track_detection'){
				document.getElementById('input_type_rt').value = 'nv12';
				document.getElementById('input_layout_rt').value = 'None';
				document.getElementById('input_type_train').value = 'rgb';
				document.getElementById('input_layout_train').value = 'NCHW';
				document.getElementById('norm_type').value = 'data_mean_and_scale';
				document.getElementById('mean_value').value = '123.675 116.28 103.53';
				document.getElementById('scale_value').value = '0.0171248 0.017507 0.0174292';
				document.getElementById('dimensionType').value = '224x224';
			} else if (model_name == 'yolov5s-2.0'){
				document.getElementById('input_type_rt').value = 'nv12';
				document.getElementById('input_layout_rt').value = 'None';
				document.getElementById('input_type_train').value = 'rgb';
				document.getElementById('input_layout_train').value = 'NCHW';
				document.getElementById('norm_type').value = 'data_scale';
				document.getElementById('mean_value').value = '';
				document.getElementById('scale_value').value = '0.003921568627451';
				document.getElementById('dimensionType').value = '672x672';
			}
			updateParameter();
		}
	</script>

	<script>
		function updateTrainButtonState(){
			var train = document.getElementById('train');
			train.disabled = false;
		}
	</script>

    <script>
        var train = document.getElementById('train');
        var pt2onnx = document.getElementById('pt2onnx');
        train.addEventListener('click', function() {
            fetch('/train')
                .then(function(response) {
                    pt2onnx.disabled = false;
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });

        pt2onnx.addEventListener('click', function() {
            fetch('/export')
                .then(function(response) {
                    updateQuantizationButtonState();
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });

        var convert_button = document.getElementById('convert_button');
        convert_button.addEventListener('click', function() {
            fetch('/convert')
                .then(function(response) {
                    updateInferenceButtonState();
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>

	<script>
		function converConfigStateChange(){
			var has_model = document.getElementById('has_model').value;
			var input_type_train = document.getElementById('input_type_train');
			var input_layout_train = document.getElementById('input_layout_train');
			var norm_type = document.getElementById('norm_type');
			var mean_value = document.getElementById('mean_value');
			var scale_value = document.getElementById('scale_value');
			if(has_model == "true"){
				input_type_train.disabled = false;
				input_layout_train.disabled = false;
				norm_type.disabled = false;
				mean_value.disabled = false;
				scale_value.disabled = false;
			} else {
				input_type_train.disabled = true;
				input_layout_train.disabled = true;	
				norm_type.disabled = true;
				mean_value.disabled = true;
				scale_value.disabled = true;
			}
		}
	</script>

	
	<script>
        function updateDatasetButtonState() {
			var dataset_file_input = document.getElementById('dataset_file');
			var uploadDatasetButton = document.getElementById('upload_dataset_button');
            uploadDatasetButton.disabled = !dataset_file_input.files.length;
        }
    </script>

	<script>
        function updateParameter() {
			var dimensionType = document.getElementById('dimensionType').value;
			var customWidth = document.getElementById('customWidth').value;
			var customHeight = document.getElementById('customHeight').value;
			var model_name = document.getElementById('model_name').value;
			var model_type = document.getElementById('model_type').value;

			var input_type_rt = document.getElementById('input_type_rt').value;
			var input_layout_rt = document.getElementById('input_layout_rt').value;
			var input_type_train = document.getElementById('input_type_train').value;
			var input_layout_train = document.getElementById('input_layout_train').value;
			var norm_type = document.getElementById('norm_type').value;

			var has_model = document.getElementById('has_model').value;

			var mean_value = document.getElementById('mean_value').value;
			var scale_value = document.getElementById('scale_value').value;

			var epochs = document.getElementById('epochs').value;
			var batch_size = document.getElementById('batch_size').value

			var detect_model = document.getElementById('detect_model').value
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/update_parameter', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			var data = {
				dimensionType: dimensionType,
				model_name: model_name,
				customWidth: customWidth,
				customHeight: customHeight,
				model_type: model_type,
				
				input_type_rt: input_type_rt,
				input_layout_rt:input_layout_rt,
				input_type_train: input_type_train,
				input_layout_train: input_layout_train,
				norm_type: norm_type,
				has_model: has_model,

				mean_value: mean_value,
				scale_value: scale_value,
				
				epochs: epochs,
				batch_size: batch_size,
				detect_model: detect_model
			};
			var jsonData = JSON.stringify(data);
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					console.log('Backend parameter updated successfully.');
				}
			};
			xhr.send(jsonData);
        }
    </script>

	<script>
		function trainStateChange() {
			var has_model = document.getElementById("has_model");
			var noModelConfig = document.getElementById("noModelConfig");
			var withModelConfig = document.getElementById("withModelConfig");
			if(has_model.value == "true"){
				noModelConfig.style.display = "none";
       			withModelConfig.style.display = "block";
			} else {
				noModelConfig.style.display = "block";
        		withModelConfig.style.display = "none";
			}
		}
	</script>



	<script>
        function updateModelFileSelectState() {
			var selectedValue = document.getElementById("model_type").value;
			var with_onnx_model = document.getElementById('withOnnxModel');
			var with_caffe_model = document.getElementById('withCaffeModel');
			if(selectedValue == "onnx"){
				with_onnx_model.style.display = "block";
				with_caffe_model.style.display = "none";
			} else {
				with_onnx_model.style.display = "none";
				with_caffe_model.style.display = "block";
			}
        }
    </script>

	<script>
		function handleDimensionTypeChange() {
			var dimensionType = document.getElementById('dimensionType').value;
			var customDimensionsDiv = document.getElementById('customDimensions');
	
			if (dimensionType == 'custom') {
				customDimensionsDiv.style.display = 'block';
			} else {
				customDimensionsDiv.style.display = 'none';
			}
		}
	</script>

    <script>
        function performTask(route) {
            fetch(route, {
                method: 'POST',
            })
            .then(response => response.json())
            .catch(error => console.error('Error:', error));
        }
    </script>

	<script>
        function updateUploadButtonState() {
			var onnx_file_input = document.getElementById('onnx_file');
			var prototxt_file_input = document.getElementById('prototxt_file');
			var caffemodel_file_input = document.getElementById('caffemodel_file');
			var image_file_input = document.getElementById('image_file');

			var uploadButton = document.getElementById('upload_button');

            uploadButton.disabled = !(((onnx_file_input.files.length || (prototxt_file_input && caffemodel_file_input)) && image_file_input.files.length));
        }
    </script>

    <script>
        function updateDetectButtonState() {
            var detect_image_file_input = document.getElementById('detect_image_file');
            var detect_button = document.getElementById('detect');
            detect_button.disabled = !detect_image_file_input.files.length;
        }
    </script>


    <script>
        function downloadBinModel() {
            window.location.href = '/download_bin_model';
        }
    </script>
    <script>
        function downloadAllModel() {
            window.location.href = '/download_all_model';
        }
    </script>
	<script>
		function redirectToAnotherPage() {
			window.open("http://localhost:8080", '_blank');
		}
	</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
		var logCount = 0;
        socket.on('output', function(data) {
            document.getElementById('output').textContent += data;
			logCount++;
			if (logCount > 400) {
            	document.getElementById('output').textContent = '';
				logCount = 0;
        	}
        });
		socket.on('clear_output', function() {
        document.getElementById('output').textContent = '';
    	});
    </script>

</body>
</html>

